@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=MonteCarlo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Russo+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Variables Create */
:root {
    --dark-clr: #081d2c;
    --second-dark-clr: #112e42;
    --text-clr: #f1f5f9;
    --light-text-clr: #c9d9e8;
    --global-clr: #0fbbff;
    --btn-clr: #ff499e;
}
/*General Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
} 
/* html and body style*/
html {
    overflow-x: hidden;
    line-height: calc(1em + 0.5rem);
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background: var(--dark-clr);
    color: var(--text-clr);
    line-height: 1.3;
    letter-spacing: 1px;
}
/*section*/
section {
    padding: 2% 10%;
}
/*about me container*/
.about-me-container {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 10%;
    }
.about-me-container h7 {
  padding-bottom: 200px;
  color: var(--global-clr);
}
.about-me-container span {
  color: var(--text-clr);
}
/*social icon*/
.social-icons {
    display: block;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.social-icons a {
    display: inline-flex;
    font-size: 1rem;
    background: transparent;
    color: var(--global-clr);
    transition: .5s;
}
.social-icons a:hover {
    transform: translateY(-10px);
}
/*hero btn*/
.hero-btn {
    display: flex;
    gap: 1.5rem;
}
.hero-btn .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.6rem 0;
    color: var(--text-clr);
    margin-left: auto;
    margin-right: auto;
    background: var(--dark-clr);
    border: 2px solid var(--global-clr);
    border-radius: 35px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
/*.btn.hover {
    color: var(--global-clr);
}*/
.hero-btn .btn:nth-child(1) {
    background: transparent;
    color: var(--global-clr);
}
.hero-btn .btn:nth-child(1)::before {
    background: var(--global-clr);
}
.hero-btn .btn:nth-child(1):hover {
    color: var(--text-clr);
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dark-clr);
    transition: .5s;
    z-index: -1;
}
.btn:hover::before {
    width: 100%;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
